<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>    
    <script src={% static "scripts/ajax.js" %}></script>
    <script src={% static "scripts/listen.js" %}></script>
    <title>Jarvis</title>
</head>



<body>

    <header>        
        <h1>Jarvis</h1>

        <div id="listening-div">
            <button id="start-btn">Start Speaking</button>
            <button disabled id="stop-btn">Stop Speaking</button>            
        </div>

        <div id="play-div">
            <button disabled id="play-btn">PLAY</button>
        </div>
    </header>

</body>


</html>